/*
    Grepfrukt nye og bedre CSS
*/

:root {
    --grep-color-1: #F68D30;
    --grep-color-2: #AFD24A;
    --grep-color-3: #F5C72D;
    --grep-color-4: #EE4446;
}

* {
    margin: 0px;
}

html, body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Header */
header {
    background-color: hotpink;
    padding: 20px;
}