* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: 'Roboto',
        sans-serif;

    /* border: 1px solid red; */
}

html {
    height: 100%;
}

body {
    min-height: 100%;

    background: rgb(88, 88, 94);

    display: flex;
    flex-direction: column;

    /* background: url("../img/paint.jpg");
    background-size: cover;
    background-position: 50% 50%; */
    background: rgb(41, 41, 46);
}

h1,
h2 {
    font-family: 'Roboto Slab',
        cursive;
}

a {
    text-decoration: none;
    color: black;
    width: fit-content;
    transform-origin: 50% 50%;
    transition: all 0.1s ease-out;

    font-weight: 600;
}

a:hover {
    color: white;
    display: inline-block;
    transform: scale(1.04);

    transition: all 0.1s ease-in;
}

a:active {
    transform: scale(0.95);
    transition: all 0.05s ease-in;
}

hr {
    border: 0;
    height: 1px;
    background: linear-gradient(to right, skyblue, rgb(107, 198, 255));
}

/* vvv header vvv */
header {
    background: rgb(41, 41, 46);
    color: white;

    z-index: 1;
    box-shadow: 0px 0px 100px 10px rgba(0, 0, 0, 0.25);
}

header>.banner {
    width: fit-content;
    padding: 40px;
    margin: 20px auto;
}

header>.banner>h1 {
    font-size: 4em;
    font-weight: 400;
    text-transform: capitalize;
}

/* vvv navigation vvv */
.breadcrumbs {
    /* word-spacing: 4px; */
    padding: 10px;
    font-weight: 400;
    color: gray;
}

.breadcrumbs>li {
    display: inline;
}

.breadcrumbs a {
    color: grey;
    display: inline-block;
}

.breadcrumbs a:hover {
    color: white;
}

.breadcrumbs>li:last-of-type {
    font-style: italic;
}

.breadcrumbs>li:last-of-type a {
    cursor: default;
    font-weight: 300;
}

.breadcrumbs>li:last-of-type a:hover {
    color: gray;
    transform: scale(1);
}

.breadcrumbs>li+li::before {
    font-style: normal;
    content: "> ";
    font-weight: 800;
}

/* vvv main vvv */
main {
    /* background: rgba(255, 105, 180, 0.575); */
    background: linear-gradient(rgb(255, 75, 165), rgb(206, 89, 206));
    /* background: url("../img/paint.jpg");
    background-size: cover;
    background-position: 50% 50%; */

    flex: 1;
}

main.story-time {
    display: flex;
    flex-wrap: wrap;
}

main.story-time .img-frame {
    /* padding: 40px; */
    width: 80vw;
    max-width: 30em;
    margin: 0 auto auto;
}

main.story-time .img-frame>img {
    height: 101%;
    width: 101%;
    /*remove this if you change to the other thingy*/
    transform: scale(0.9);
    /* box-shadow: -10px 10px 0px 0px rgba(0, 0, 0, 0.705); */
    box-shadow: -5px 5px 50px 0px rgba(0, 0, 0, 0.705);

    filter: hue-rotate(-20deg) saturate(0.5) contrast(2);
}

main.story-time>section {
    flex: 1;
    min-width: 450px;
    padding: 40px;
}

main.story-time a {
    color: black;
    display: inline-block;
}

main.story-time h1 {
    font-size: 1.666em;
}

main.story-time a:hover {
    color: white;
}

main.story-time a.title:hover {
    transform: scale(1.01);
}

.page-fill {
    flex: 0;
}


/* vvv footer vvv */

footer {
    --footcol: rgb(41, 41, 46);

    position: relative;
    /* bottom: 0; */
    width: 100%;
    flex: auto;

    color: var(--footcol);
    /* background: rgb(41, 41, 46); */
    background: linear-gradient(skyblue, rgb(107, 198, 255));

    word-spacing: 0.05em;
    line-height: 1.33;

    box-shadow: 0px 0px 100px 10px rgb(0, 0, 0, 0.25);
}

footer>ul {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0px;
}

footer>ul>li {
    display: flex;
    flex-direction: column;
    flex: 1;
    position: relative;
    margin: 20px;
    padding: 10px;
    width: 25vw;
    min-width: 200px;
    vertical-align: top;
    text-align: left;
}

footer>ul>li>h2 {
    border-bottom: 2px dotted var(--footcol);

    font-size: 1.2em;
    margin-bottom: 5px;
    padding-bottom: 5px;

    text-align: left;
}

/* mobile rules */
@media screen and (max-width: 580px) {
    main {
        background-color: lightblue;
    }

    header {
        text-align: center;
    }

    /* let text become smaller on mobile so it don't stick out */
    main.story-time>section {
        min-width: 200px;
    }
}

@media screen and (min-width: 1100px) {
    main.story-time .img-frame {
        margin: 0;
    }
}

/* vvv overlay vvv */
body::before {
    position: fixed;
    display: block;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
    content: "";
    background: url("../img/noise.png");
    z-index: 100;
    pointer-events: none;

    mix-blend-mode: overlay;
    opacity: 0.05;
}

body::after {
    position: fixed;
    display: block;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
    content: "";
    background: url("../img/noise.png");
    z-index: 100;
    pointer-events: none;

    mix-blend-mode: multiply;
    opacity: 0.1;
}

/* misc */
.align-right {
    float: right;
}

.smol {
    font-size: 0.9em;
}

.up {
    vertical-align: super;
}

.expand {
    flex: 1;
}