* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: 'Roboto',
        sans-serif;

    /* border: 1px solid red; */
}

body {
    min-height: 100%;

    background: rgb(88, 88, 94);

    display: flex;
    flex-direction: column;

    /* background: url("../img/paint.jpg");
    background-size: cover;
    background-position: 50% 50%; */
    background: rgb(41, 41, 46);
}

h1,
h2 {
    font-family: 'Roboto Slab',
        cursive;
}

a {
    text-decoration: none;
    color: gray;

    transition: all 0.1s ease-out;
}

a:hover {
    color: white;
    display: block;
    transform: scale(1.01);

    transition: all 0.1s ease-in;
}

hr {
    border: 0;
    height: 1px;
    background: linear-gradient(to right, lightblue, skyblue);
}

/* vvv header vvv */
header {
    background: rgb(41, 41, 46);
    color: white;
}

header>.banner {
    width: fit-content;
    padding: 40px;
    margin: 20px auto;
}

header>.banner>h1 {
    font-size: 4em;
    font-weight: 400;
    text-transform: capitalize;
}

/* vvv navigation vvv */
.breadcrumbs {
    /* word-spacing: 4px; */
    padding: 10px;
    font-weight: 400;
    color: gray;
}

.breadcrumbs>li {
    display: inline;
}

.breadcrumbs>li>a {
    display: inline-block;
}

.breadcrumbs>li:last-of-type {
    font-style: italic;
    font-weight: 300;
}

.breadcrumbs>li:last-of-type a {
    cursor: default;
}

.breadcrumbs>li:last-of-type a:hover {
    color: gray;
    transform: scale(1);
}

.breadcrumbs>li+li::before {
    font-style: normal;
    content: "> ";
    font-weight: 800;
}

/* vvv main vvv */
main {
    /* background: rgba(255, 105, 180, 0.575); */
    background: linear-gradient(rgb(255, 75, 165), rgb(206, 89, 206));
    /* background: url("../img/paint.jpg");
    background-size: cover;
    background-position: 50% 50%; */
}

main.story-time {
    display: flex;
    flex-wrap: wrap;
}

main.story-time>.img-frame {
    padding: 40px;
    width: 80vw;
    max-width: 30em;
    margin: 0 auto auto;
}

main.story-time>.img-frame>img {
    height: 100%;
    width: 100%;
    /* box-shadow: 0 0 100px 0 rgba(0, 0, 0, 0.705); */
    box-shadow: -10px 10px 0 0 rgba(0, 0, 0, 0.705);
}

main.story-time>section {
    flex: 1;
    min-width: 450px;
    padding: 40px;
}

/* < links > */
main.story-time a {
    color: black;
}

main.story-time a>h1 {
    font-size: 200%;
}

main.story-time a:hover {
    color: white;
}

.page-fill {
    flex: 1;
}


/* vvv footer vvv */

footer {
    --footcol: rgb(255, 255, 255);

    position: relative;
    bottom: 0;
    width: 100%;
    /* height: fit-content; */

    color: var(--footcol);
    background: rgb(41, 41, 46);

    word-spacing: 0.05em;
    line-height: 1.33;
}

footer>ul {
    list-style-type: none;
    text-align: center;
}

footer>ul>li {
    display: inline-block;
    position: relative;
    margin: 20px;
    padding: 10px;
    width: 25vw;
    min-width: 200px;
    vertical-align: top;
    text-align: left;
}

footer>ul>li>h2 {
    border-bottom: 2px dotted var(--footcol);

    margin-bottom: 5px;
    padding-bottom: 5px;

    text-align: left;
}

/* mobile rules */
@media screen and (max-width: 580px) {
    main {
        background-color: lightblue;
    }

    header {
        text-align: center;
    }

    /* let text become smaller on mobile so it don't stick out */
    main.story-time>section {
        min-width: 120px;
    }
}

/* vvv overlay vvv */
body::before {
    position: fixed;
    display: block;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
    content: "";
    background: url("../img/noise.png");
    z-index: 100;
    pointer-events: none;

    mix-blend-mode: overlay;
    opacity: 0.05;
}

body::after {
    position: fixed;
    display: block;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
    content: "";
    background: url("../img/noise.png");
    z-index: 100;
    pointer-events: none;

    mix-blend-mode: multiply;
    opacity: 0.1;
}