/*
    Grepfrukt nye og bedre CSS
*/

:root {
    --grep-color-appelsin: #F68D30;
    --grep-color-drue: #AFD24A;
    --grep-color-banan: #F5C72D;
    --grep-color-epple: #EE4446;
    --grep-color-header: #FFF;
}

* {
    margin: 0px;
}

html, body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Header */
header {
    background-color: var(--grep-color-header);
    padding: 20px;
}

/* Footer */
footer {
    background-color: var(--grep-color-drue);
    padding: 20px;
}